:root {
  --primary-color: #127af6;
  --background: #35363a;
  --text-color: white;
  --text-color-on-white-background: #444;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-size: 14px;
  --font-size-h3: 18px;
  --font-size-h4: 16px;
  --spacing: 24px;
  --spacing-small: 12px;
  --spacing-smallest: 4px;

  --main-menu-width: 420px;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-small);
}

.breadcrumbs > a,
.breadcrumbs > span {
  display: block;
  padding: 0;
  margin: 0;
  color: var(--text-color-on-white-background);
  font-size: var(--font-size-h3);
}

.breadcrumbs span::before {
  content: '/';
  opacity: 0.5;
  margin-left: 8px;
  margin-right: 8px;
}

.breadcrumbs span:last-child {
  font-weight: bold;
}

.hint {
  color: gray;
}

.button {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.button.primary {
  background: var(--primary-color);
  color: white;
}

.button.primary:disabled {
  background: #999;
}

.button.large {
  font-size: larger;
}

#pm-root {
  width: 100%;
  height: 100%;
}

.pm-app {
  width: 100%;
  height: 100%;
}

.pm-photo-view-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pm-photo-view {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pm-photo-info-container {
  display: flex;
  position: absolute;
  align-items: flex-end;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  padding-left: var(--spacing);
  padding-bottom: calc(var(--spacing) / 1.33);
  background: linear-gradient(
    transparent 0%,
    rgba(0, 0, 0, 0.15) 40%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

.pm-photo-info {
  opacity: 0.75;
}

.pm-photo-info-name {
  font-size: var(--font-size-h4);
  font-weight: normal;
  opacity: 0.9;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.pm-photo-info-name:hover {
  opacity: 1;
}

.pm-photo-info-photographer,
.pm-photo-info-location,
.pm-photo-info-category {
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.pm-photo-info-location:hover {
  opacity: 1;
}

.pm-photo-info-details span {
  opacity: 0.66;
  font-size: smaller;
}

.pm-photo-info-details span::before {
  content: '/';
  margin-left: 8px;
  margin-right: 8px;
  opacity: 0.66;
}

.pm-photo-info-details span:first-child:before {
  display: none;
}

.pm-main-menu-container {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: var(--spacing);
  padding-right: var(--spacing);
}

.pm-main-menu-dropdown {
  position: absolute;
  width: var(--main-menu-width);
  right: var(--spacing);
  padding: var(--spacing);
  color: var(--text-color-on-white-background);
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.pm-main-menu-dropdown.active {
  opacity: 0.9;
  pointer-events: inherit;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
}

.pm-main-menu-dropdown section {
  margin-bottom: var(--spacing-small);
}

.pm-main-menu-dropdown h2 {
  margin-bottom: 12px;
}

.pm-main-menu-dropdown h3 {
  margin-bottom: 8px;
}

.pm-main-menu-dropdown footer {
  display: flex;
  width: 100%;
}

.pm-main-menu-dropdown footer a {
  color: var(--primary-color);
}

.pm-main-menu-dropdown footer .left {
  display: flex;
  flex-grow: 1;
}

.pm-main-menu-dropdown footer .right {
  display: flex;
  align-self: center;
}

.pm-category-selector {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  margin: 0;
  margin-bottom: var(--spacing-small);
  padding: 0;
}

.pm-category-selector li {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0;
  margin-bottom: var(--spacing-smallest);
  padding: 0;
}

.pm-category-selector li.active label,
.pm-category-selector li:hover label {
  color: var(--primary-color);
}

.pm-category-selector input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-right: var(--spacing-small);
}

.pm-feature-selector {
  display: flex;
  list-style: none;
  margin: var(--spacing-small) 0;
  padding: 0;
}

.pm-feature-selector li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 0;
  padding: 8px 0;
  border: 1px solid var(--text-color-on-white-background);
  border-left: none;
  cursor: pointer;
}

.pm-feature-selector li.active {
  color: var(--text-color);
  border-color: var(--primary-color) !important;
  background: var(--primary-color);
}

.pm-feature-selector li:first-child {
  border-left: 1px solid var(--text-color-on-white-background);
  border-radius: 8px 0 0 8px;
}

.pm-feature-selector li:last-child {
  border-radius: 0 8px 8px 0;
}

.pm-menu-icon {
  width: 24px;
  height: 24px;
  opacity: 0.66;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.pm-menu-icon.active,
.pm-menu-icon:hover {
  opacity: 0.95;
}

.pm-menu-icon div {
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.pm-photo-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.pm-photo-list li {
  --size: calc((var(--main-menu-width) - var(--spacing) * 2 - 2px) / 3);
  display: flex;
  width: var(--size);
  height: var(--size);
  margin: 0;
  padding: 4px;
}

.pm-photo-list li a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
