:root {
  --primary-color: #127af6;
  --background: #35363a;
  --text-color: white;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-size: 16px;
  --font-size-h3: 18px;
  --spacing: 24px;
  --spacing-small: 12px;
  --spacing-smallest: 8px;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

a {
  color: var(--text-color);
}

.button {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.button.primary {
  background: var(--primary-color);
  color: white;
}

.button.large {
  font-size: larger;
}

#pm-root {
  width: 100%;
  height: 100%;
}

.pm-app {
  width: 100%;
  height: 100%;
}

.pm-photo-view-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pm-photo-view {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pm-photo-info-container {
  display: flex;
  position: absolute;
  align-items: flex-end;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  padding-left: var(--spacing);
  padding-bottom: calc(var(--spacing) / 1.33);
  background: linear-gradient(
    transparent 0%,
    rgba(0, 0, 0, 0.1) 25%,
    rgba(0, 0, 0, 0.75) 101%
  );
}

.pm-photo-info {
  opacity: 0.75;
  font-size: --font-size-h3;
}

.pm-photo-info-name {
  font-weight: normal;
  text-decoration: none;
  opacity: 0.85;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.pm-photo-info-name:hover {
  opacity: 1;
}

.pm-photo-info-location {
  font-size: smaller;
  opacity: 0.66;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.pm-photo-info-location:hover {
  opacity: 1;
}

.pm-photo-info-location::before {
  content: '|';
  margin-left: 8px;
  margin-right: 8px;
  opacity: 0.66;
}

.pm-photo-category-selector-container {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: var(--spacing);
  padding-right: var(--spacing);
}

.pm-photo-category-dropdown {
  position: absolute;
  right: var(--spacing);
  padding: var(--spacing);
  color: #333;
  background: white;
  border: 1px solid #ccc;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.pm-photo-category-dropdown.active {
  opacity: 0.9;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
}

.pm-photo-category-dropdown h3 {
  margin-top: 0;
}

.pm-photo-category-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 540px;
  margin: 0;
  margin-bottom: var(--spacing-small);
  padding: 0;
}

.pm-photo-category-list li {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0;
  margin-bottom: var(--spacing-smallest);
  padding: 0;
}

.pm-photo-category-list li.active label,
.pm-photo-category-list li:hover label {
  color: var(--primary-color);
}

.pm-photo-category-list input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-right: var(--spacing-small);
}

.pm-photo-category-icon {
  width: 24px;
  height: 24px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.pm-photo-category-icon.active,
.pm-photo-category-icon:hover {
  opacity: 0.75;
}

.pm-photo-category-icon div {
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
