:root {
  --background: #35363a;
  --text-color: white;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);
}

#pm-root {
  width: 100%;
  height: 100%;
}

.pm-app {
  width: 100%;
  height: 100%;
}

.pm-photo-view-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pm-photo-view {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
